{%  extends 'tienda/listado.html' %}

{% block content %}
    <div class="card">

        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Unidades</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>

                {% for i in productocompra %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.nombre }}</td>
                  <td>{{ i.importe }}</td>
                  <td>{{ i.unidades }}</td>
                  <td>{{ i.precio }}€</td>
                  <td>
                      <a name="" id="" class="btn btn-success" href="{%  url 'formcompra' i.id %}" role="button"> Comprar</a>
                  </td>
                </tr>

                {%  endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
