{%  extends 'tienda/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Comprar el producto
        </div>
        <div class="card-body">
            <h4 class="card-title"> Datos del producto</h4>

            <form enctype="multipart/form-data" method="post">

                {%  csrf_token %}

                    {% for i in formulario %}
                    {%  if i.name == 'unidades'  %}
                       <div class="mb-3">
                           <p>El Producto tiene {{ i.value }} unidades</p>
                           <label>¿Cuántas unidades quieres comprar?</label>
                           <input class="form-control"/>
                        </div>
                    <div class="col-12 help-text">{{ i.errors }}</div>
                    {% endif %}
                {% endfor %}

                <input name="" id="" class="btn btn-success" type="submit" value="Comprar">
                <a name="" id="" class="btn btn-primary" href="{%  url 'compra' %}" role="button"> Cancelar</a>
            </form>
        </div>

    </div>
{% endblock %}
