<form enctype="multipart/form-data" method="post">

    {%  csrf_token %}

    {% for i in formulario %}

    <div class="mb-3">
        <label for="" class="form-label">{{ i.label }}:</label>
        <input
            type="{{ i.field.widget.input_type }}"
            class="form-control"
            name="{{ i.name }}"
            id=""
            aria-describedby="helpId"
            placeholder="{{ i.label }}"
            value="{{ i.value | default:'' }}">
    </div>
    <div class="col-12 help-text">{{ i.errors }}</div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Información">
</form>