

<!-- Creamos formulario POST -->
<!-- formulario para incluirlo en los CRUD -->

<!-- Recoge el valor del campo y el nombre del campo -->

<form enctype="multipart/form-data" method="post">

    {%  csrf_token %}

  {% for producto in formulario %}

                {% if producto.name != 'marca' %}
                    <div class="mb-3">
                        <label for="" class="form-label">{{ producto.label }}:</label>

                        <input
                            type="{{ producto.field.widget.input_type }}"
                            class="form-control"
                            name="{{ producto.name }}"
                            id=""
                            aria-describedby="helpId"
                            placeholder="{{ producto.label }}"
                            value="{{ producto.value | default:'' }}"/>
                    </div>
                    <div class="col-12 help-text">{{ producto.errors }}</div>
                {% endif %}
                {% if producto.name == 'marca' %}
                    <label for="" class="form-label">{{ producto.label }}:</label>
                    {{ formulario.marca }}
                {% endif %}

            {% endfor %}
            <br>
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Información">
    <a name="" id="" class="btn btn-primary" href="{%  url 'listado' %}" role="button"> Cancelar</a>
</form>
