{% extends 'tienda/base.html' %}

{% block content %}
    <div class="card-header derecha">
            <a name="" id="" class="btn btn-success" href="{% url 'crearusuario' %}" role="button">Log Up</a>
            <a name="" id="" class="btn btn-success" href="{% url 'iniciar_sesion' %}" role="button">Log In</a>

    </div>
	<h2>Bienvenido a la tienda virtual</h2>
	<ul>
        <li> <a href=' {% url 'listado' %} '> Gestión de productos</a></li>
        <li> <a href=' {% url 'informes' %} '> Informes</a></li>
		<li><a href=' {% url 'listacompra' %} '> Realizar compra</a></li>
	</ul>



{% endblock %}
