{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Mejores clientes</h2>
    <form method="get">
        {{ formulario }}
    </form>
    {% if Clientes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
            {% for compra in comprastotal %}
                <tr>
                    <td>
                        {% for Cliente in Clientes %}
                            {% if Cliente.id == compra.user %}
                                {{ Cliente.username }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ compra.sum_compras }}€
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
