{% extends 'tienda/base.html' %}
{% block content %}
    <h2>Productos más vendidos</h2>
    <form method="get">
        {{ formulario }}
    </form>

    <!-- Si existen productos -->

    {% if Productos %}

        <!-- Creamos tabla para que quede bonito -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Unidades Vendidas</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for Producto in unidadesvendidas %}
                <tr>

                    <td>
                        <!-- Recorremos todos los productos -->
                        <!-- Si el ID del producto que recorremoe es igual al id del modelo producto, lo imprimimos ( No produce producto cartesiano ) -->
                        {% for producto in Productos %}
                            {% if producto.id == Producto.producto %}
                                {{ producto.nombre }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ Producto.sum_compras}}
                    </td>

                    <td>
                        {{ Producto.total}}€
                    </td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    {% endif %}
{% endblock %}
