{%  extends 'tienda/CRUD/../listado.html' %}

{% block content %}

    <div class="card">
                <!-- Creamos tabla para que quede bonito -->

        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Unidades</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <!-- Recorremos todos los productos y creamos las casillas para las tablas-->
                {% for producto in productocompra %}
                <tr>
                  <td>{{ producto.id }}</td>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.marca }}</td>
                  <td>{{ producto.unidades }}</td>
                  <td>{{ producto.precio }}€</td>
                  <td>
                      <a name="" id="" class="btn btn-success" href="{%  url 'formcompra' producto.id %}" role="button"> Comprar</a>
                  </td>
                </tr>

                {%  endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
