{% extends 'tienda/base.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title"> Registrar usuario</h4>
        </div>

        <div class="card-body">
                <!-- Formulario para crear usuario -->

            <form method="post">
                {% csrf_token %}
                <!-- Le pasamos el formulario propio de Django que creamos en el view -->

                {{ form }}

                <input name="" id="" class="btn btn-success" type="submit" value="Registrar">
                <a name="" id="" class="btn btn-primary" href="{%  url 'welcome' %}" role="button"> Cancelar </a>

            </form>

        </div>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}

