
@font-face {
    font-family: 'ALL';
    src: url(corbel/CORBEL.TTF);
}
* {
    font-family: 'ALL';
}

h1{
    text-align: center;
    font-size: 5em;
}
a:hover{
    color: black;
}
a{
    text-decoration: none;
}
.derecha{
    float: right;
}
ul li {
    list-style-type: none;
}

